
.fadeword {display: inline-block;}

#index-jumbo {
    background-image: url(/img/biojulia_bands_background.svg);
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: 95% 0%;
}
