---
layout: biojl
title: Home
---

<div class="jumbotron jumbotron-fluid" id="index-jumbo">
    <div class="container">
        <h1 class="display-4">
            <img src="/img/BioJulia_Brand.svg" width="auto" height="100%" />
            <p>
                <div class="fadeword" id="content-1">Fast</div>
                <div class="fadeword" id="content-2">Easy</div>
                <div class="fadeword" id="content-3">Open</div>
                software for biology.
            </p>
        </h1>
        <hr class="my-4">
        <p class="lead">
            BioJulia is a julialang community for biologists and
            bioinformaticians, working to create great modern software packages
            for computing with biological data.

            This site is currently under construction. More is to come.

            {% for repository in site.github.public_repositories %}
  {{ repository }}
{% endfor %}
        </p>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Latest news</h2>
            <hr>
            {% include postlist.html postArray=site.categories.News %}
        </div>
        <div class="col-md-6">
            <h2>Latest blog posts</h2>
            <hr>
            {% include postlist.html postArray=site.categories.Blog %}
        </div>
    </div>
</div>
