<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% feed_meta %}
<title>
    BioJulia | {{ page.title }}
</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<!-- Twitter bootstrap -->
<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="/bootstrap3/css/bootstrap.min.css">-->
<!-- Optional theme -->
<!--<link rel="stylesheet" href="/bootstrap3/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/carousel.css">
<link rel="stylesheet" href="/css/responsive.css">
<link rel="stylesheet" href="/css/biojulia.css">-->
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/biojulia.css">
