<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
      <img src="/img/BioJulia_Brand.svg" width="auto" height="40" />
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" href="/"><span class="fa fa-home fa-lg"></span> Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/news">
              <span class="fa fa-newspaper-o fa-lg"></span>
              News
          </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-cubes fa-lg"></span>
            Packages
            <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarBiologyDropdownMenuLink">
          <a class="dropdown-item" href="/packages"><span class="fa fa-gift fa-lg"></span> All Packages</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Top Biology packages</h6>
          {% for package in site.data.packages %}
          {% if package.type == "biology" and package.top == true %}
          <a class="dropdown-item" data-toggle="tooltip" data-placement="right" title="{{ package.tagline }}" href="{{ site.url }}/{{ package.name }}/stable">{{ package.name }}</a>
          {% endif %}
          {% endfor %}
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Top Infrastructure packages</h6>
          {% for package in site.data.packages %}
          {% if package.type == "infrastructure"  and package.top == true %}
          <a class="dropdown-item" data-toggle="tooltip" data-placement="right" title="{{ package.tagline }}" href="{{ site.url }}/{{ package.name }}/stable">{{ package.name }}</a>
          {% endif %}
          {% endfor %}
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-user-circle fa-lg"></span>
            Community
            <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/members"><span class="fa fa-users"></span> BioJulia Members</a>
            <a class="dropdown-item" href="https://gitter.im/BioJulia"><span class="fa fa-comments"></span> BioJulia Gitter</a>
            <a class="dropdown-item" href="https://discourse.julialang.org/c/domain/bio"><span class="fa fa-comments"></span> Discourse</a>
            <a class="dropdown-item" href="https://biojulia.github.io/Contributing/latest/policy/contributor_covenant/">Code of Conduct</a>
            <a class="dropdown-item" href="https://biojulia.github.io/Contributing/latest/">How to get involved!</a>
        </div>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="https://github.com/BioJulia"><span class="fa fa-github fa-lg"></span> Github</a>
      </li>
    </ul>
  </div>
</nav>
