{% assign pkgname = include.package.name %}

<div class="card">
    <div class="card-block">
        <a href="http://biojulia.net/{{ pkgname }}">
            <h4 class="card-title">{{ package.name }}</h4>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ package.tagline }}
        </h6>
        <p>
            <a class="github-button" href="https://github.com/BioJulia/{{ package.name }}/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork BioJulia/{{ package.name }} on GitHub">Fork</a>
            <a href="{{ package.link }}">
                <span class="fa fa-github fa-lg"></span> Github</a>
            </a>
            <a href="http://biojulia.net/{{ package.name }}">
                <span class="fa fa-globe fa-lg"> Webpage</a>
            </a>
        </p>
    </div>
</div>
