---
title: Community Members
subtitle: Developers, maintainers and members of BioJulia
layout: standardpage
active: members
---

{% assign members = site.biojl_members | sort:"membername"  %}

{% assign nmember = 0 %}
{% for member in members %}
{% assign nmember = nmember | plus: 1 %}
{% assign mod = nmember | modulo: 3 %}
{% if mod == 1 %}
<div class="row">
{% endif %}
<div class="col-md-3">
    <div class="thumbnail">
        <a href="{{ member.url }}">
            <img class="img-thumbnail" src="https://github.com/{{ member.github }}.png" alt="{{ member.github }}" />
        </a>
        <p>
            <h3 class="media-heading">
                <a href="{{ member.url }}">{{ member.membername }}</a>
            </h3>
            <h5>{{ member.biojl_roles | join:", " }}</h5>
        </p>
    </div>
</div>
{% if mod == 0 %}
</div> <!-- End of group -->
{% endif %}
{% endfor %}
